@import "@/styles/color.module.scss";

.container {
  display: flex;
  justify-content: space-between;
  min-height: 100vh;
  background-color: $background;
}

.main{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}


.sentence{
  font-size: 24px;
}